<html>
	<head>
		<link rel="stylesheet" href="assets/styles/main.css">
		<script type="text/javascript" src="assets/js/app.js"></script>
	</head>
	<body>
		<div id="main-box">
			<table>
				<tr>
					<th>고정 확장자</th>
					<td>
						<% data.fixed_extension.forEach((extension, index) => { %>
							<span>
								<input
									type="checkbox"
									value="<%=extension.name %>"
									id="<%=extension.name %>"
									onclick="app.form.check_extension(this)"
									<%= extension.is_ban ? "checked" : "" %>
								/>
								<label for="<%=extension.name %>"><%=extension.name %></label>
							</span>
						<% }) %>
					</td>
				</tr>
				<tr>
					<th>커스텀 확장자</th>
					<td>
						<form>
							<input class="new_extension_input" type="text" />
							<button class="new_extension_button" type="button">+ 추가</button>
						</form>
						<p>
							<%=data.custom_extension.length%>/200
						</p>
						<div>
							<% data.custom_extension.forEach((extension, index) => { %>
								<span class="custom_span">
									<%=extension.name %>
									<img src="assets/images/close.svg" data-id="<%=extension.name %>" onclick="app.form.delete_extension(this)"/>
								</span>
							<% }) %>
						</div>
					</td>
				</tr>
			</table>
		</div>
	</body>
</html>
